@use "../../abstracts/index" as a;

.control {
  display: flex;
  flex-direction: column;

  animation: slideUp .3s ease-in;

  @apply mt-4 gap-8;

  &__notice {
    padding: 1.2rem 1.6rem;

    background-color: rgba(a.$color-secondary, 0.03);
    backdrop-filter: blur(95px);
    border: 0.1rem solid hsla(0, 0%, 100%, 0.15);
    border-radius: 0.8rem;

    color: a.$color-secondary-text;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
  }
}
