@use "../../abstracts" as a;

.trade-status-container {
  display: flex;
  flex-direction: column;

  width: 50vh;

  background-color: rgba(a.$color-secondary, .03);
  backdrop-filter: blur(95px);
  border: .1rem solid hsla(0, 0%, 100%, .15);

  border-radius: .8rem;

  animation: slideUp .3s ease-in;

  @apply p-8 m-6;

  &__header {
    color: a.$color-accent2;

    @apply text-3xl;
  }
}