@use "../abstracts/index" as a;

.item {
  width: 14rem;
  height: 17rem;
  border-radius: .4rem;
  background-color: #2E2B23;
  animation: fadeIn .2s ease-in;

  position: relative;

  &__price {
    color: a.$color-accent;
    position: absolute;
    top: 1.5rem;
    left: .5rem;

    transform: rotate(-17deg);

    @apply text-xl;
  }

  &__body {
    width: 14rem;
    height: 17rem;

    background-color: #2E2B23;
    border-radius: .4rem;
    content-visibility: auto;
    transition: all .2s;

    cursor: pointer;

    clip-path: polygon(90% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
    transform: scale(.9);

    &-quality {
      width: 100%;
      height: 100%;
      position: absolute;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-amount {
      position: absolute;
      right: .5rem;
      top: .5rem;

      color: a.$color-secondary-text;

      @apply text-2xl mt-2;
    }

    &-name {
      color: a.$color-secondary-text;
      position: absolute;
      bottom: .5rem;

      text-align: center;

      @apply text-xl mb-4;
    }

    &-img {
      width: 8.5rem;
      height: 8.5rem;

      position: absolute;
      top: 1rem;
      opacity: 0.8;
    }
  }

  &:hover &__body-name {
    opacity: 0;
  }

  &:hover &__body-img {
    top: 3rem;
    width: 13rem;
    height: 13rem;
    opacity: 1;
  }

  &:hover &__body {
    transform: scale(.95) rotate(1deg);
  }
}