@use "../abstracts/index" as a;

*,
*:before,
*:after {
  font-family: 'Inter', sans-serif;
  font-weight: 700;

  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: a.$color-primary url("/background.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body, html, #root, .App {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: a.$color-secondary;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: a.$color-accent-active;
}