@use "../abstracts/index" as a;
@use "home/inventory" as *;
@use "home/control" as *;
@use "home/trade_status_container" as *;

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @apply gap-4 w-full;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;

      justify-items: center;
    }
  }
}