$color-accent: #E3691D;
$color-accent2: #FFF6E2;
$color-accent-active: #B3561C;
$color-primary: #22211F;
$color-secondary: #443F3C;

$color-text: #F3F3F3;
$color-secondary-text: #B1A599;
$color-inactive-text: #BDB29B;
